<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Pages>15</Pages>
  <Words>4428</Words>
  <Characters>9285</Characters>
  <TotalTime>5</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>10142</CharactersWithSpaces>
  <Application>WPS Office_12.1.0.26895_F1E327BC-269C-435d-A152-05C5408002CA</Application>
</Properties>
